# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/



# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# Blender backup files
*.blend1
# SpringProject/.vscode/configurationCache.log
# SpringProject/.vscode/dryrun.log
*.mp4

codegen/
# # Matlab code generation folders
# SpringProject/codegen/mex/*
# SpringProject/codegen/lib/*
# !SpringProject/codegen/lib/Robot_Control